/* TAG SELECTORS */
html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: #111111;
}

a {
  color: #f5f0ec;
  text-decoration: none;
}

a:hover {
  color: inherit;
  opacity: 50%;
}

hr {
  margin: 4.75rem 0;
  border-top: 3px solid #f5f0ec;
}

p {
  line-height: 1.75rem;
  padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.75rem;
  padding-bottom: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -10%;
}

h5 {
  font-size: 0.75rem;
  color: #1b5b31;
  letter-spacing: -5%;
  padding-bottom: 1rem;
}

/* CLASS SELECTORS - CONTAINERS */

.dark-section {
  background-color: #1b5b31;
  color: #f5f0ec;
}

.light-section1 {
  background-color: #f5f0ec;
}

.light-section2 {
  background-color: #dcc1ab;
}

.container-fluid {
  padding: 10% 7%;
  position: relative;
}

.card-boxes {
  margin: 5% auto;
  padding: 7%;
  border: none;
  border-radius: 1.5rem;
}

.intro-section {
  height: 43rem;
  max-height: 50rem;
  width: 100%;
}

.intro-text {
  width: 65%;
}

.intro-pic {
  width: 35%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery {
  padding-bottom: 6.25rem;
  margin: 0;
  position: relative;
}

.gallery-hidden {
  height: 100rem;
  overflow: hidden;
}

.spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.inlined {
  display: inline;
}

.gaped {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.gaped2 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(220, 193, 171, 1) 100%
  );
  position: absolute;
  height: 1000px;
  width: 100%;
  top: 37.5rem;
  left: 0;
}

.preview {
  position: fixed;
  z-index: 1;
  padding-top: 6.25rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.picture {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}

/* CLASS SELECTORS by type*/

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
  font-family: "Inter", sans-serif;
}

.p-small {
  font-size: 0.85rem;
}

.floating-button {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.rounded-button {
  border-radius: 3.13rem;
  padding: 0.5rem 1rem;
}

.personal-button-carousel {
  position: absolute;
  top: auto;
  bottom: 0;
  background-color: #f5f0ec;
  width: 4.75rem;
  height: 4.75rem;
  opacity: 1;
}

.picture img {
  height: 37.5rem;
  width: auto;
}

/* ID SELECTORS by order */

#header .container-fluid {
  padding: 1rem 5.75rem;
  position: relative;
}

#intro .btn {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

#intro img {
  max-height: 43rem;
  width: auto;
}

#offer a {
  color: #1b5b31;
  position: relative;
  text-decoration: none;
}

#offer a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #1b5b31;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#offer a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#offer .svg {
  padding-bottom: 2rem;
}

#offer .svg:hover {
  filter: invert(30%) sepia(8%) saturate(3494%) hue-rotate(88deg)
    brightness(92%) contrast(94%);
}

#projects .container-fluid {
  padding-bottom: 4.5rem;
  position: relative;
}

#firm h5 {
  color: inherit;
}

#footer {
  background-color: #111111;
  color: #f5f0ec;
}

#footer p {
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .container-fluid {
  padding-bottom: 0;
}

#footer .svg {
  filter: invert(92%) sepia(5%) saturate(397%) hue-rotate(324deg)
    brightness(106%) contrast(92%);
}

#searchInput {
  box-sizing: border-box;
  padding: 5% 10%;
  border: none;
  outline: 2px solid #f5f0ec;
}

#searchInput:focus {
  outline: 3px solid #dcc1ab;
}

#contact p {
  padding-bottom: 0.5rem;
}

/* SEARCH */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 9rem;
  border: 1px solid #ddd;
  right: 0;
  text-align: right;
  z-index: 1;
}

.copyrights {
  margin: 3rem auto 0;
  padding-bottom: 1rem;
}

.copyrights img {
  height: 1.5rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* MASONRY GALLERY */

.grid {
  width: 100%;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 31%;
}

.grid-item {
  height: 21.25rem;
  float: left;
  padding: 1rem 0;
  margin-bottom: 3.5%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter 0.33s ease-in-out;
}

.grid-item:hover {
  -webkit-filter: grayscale(100%); 

}

.grid-item--height2 {
  height: 28rem;
}
.grid-item--height3 {
  height: 37.5rem;
}
.gutter-sizer {
  width: 3.5%;
}

/* Bootstrap class corrections */

.btn-outline-dark:hover {
  border-color: #1b5b31;
  background-color: #1b5b31;
  color: #f5f0ec;
}

.btn-success {
  background-color: #1b5b31;
  border-color: #1b5b31;
  color: #f5f0ec;
}

.btn-outline-success {
  border-color: #1b5b31;
  color: #1b5b31;
}

.btn-outline-success:hover {
  border-color: #1b5b31;
  background-color: #1b5b31;
  color: #f5f0ec;
}

.carousel-control-prev {
  right: 4.75rem;
  left: auto;
}

/* Responsivity */

@media all and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  .search-bar {
    position: relative;
    display: flex;
    gap: 1.25rem;
  }

  .search-field {
    left: 0;
    right: auto;
    width: 9rem;
    position: unset;
  }

  #footer .spaced {
    flex-direction: column;
  }

  #footer .svg {
    margin-bottom: 1.75rem;
  }
}
